{{< ../base}}

   {{$header}}
      <link rel="import" href="{{rootPath}}/elements/data-table/data-table.html"/>
   {{/header}}

   {{$title}}ASE Quiz Admin{{/title}}

   {{$navbar}}{{> navbar_admin}}{{/navbar}}

   {{$content}}
      <h1>ASE Quiz Admin</h1>
      
      <data-table id="grid" model="quiz" cols="id name" actions="Questions Activate" onAction="quizAction">      
         <template> <!-- Edit form template is the first child element -->
	         <b>Quiz</b>
	         <form>
	           <div class="form-group">
	             <label for="name">Quiz name</label>
	             <input type="name" class="form-control" id="name" placeholder="Quiz name" value="[[m.name]]">
	           </div>
	           
	           <button on-click="[[cancel]]" class="btn">Cancel</button>
	           <button on-click="[[submit]]" class="btn btn-default">Submit</button>
	         </form>
         </template>
      </data-table>
      
      <div id="dialog">
      </div>

      <template id="dlg_activate">
         <b>Activate Quiz</b>
         <form name='activate'>
            
            <p><span id="quiz_title"></span></p>
            
            <div class="form-group">
              <label for="name">Run quiz for:</label>
              <select name="duration">
                <option value="30">30 minutes</option>
                <option value="25">25 minutes</option>
                <option value="20" selected>20 minutes</option>
                <option value="15">15 minutes</option>
                <option value="10">10 minutes</option>
                <option value="5">5 minutes</option>
              </select>
            </div>
            
            <button onClick="closeDialog()" class="btn">Cancel</button>
            <button onClick="activateQuiz(this.form)" class="btn btn-default">Submit</button>
         </form>
      </template>

      <script>
          function quizAction(action, model) {
            if (action === "Questions") {
              location.href='{{rootPath}}/admin/questions/' + model.id;
            } else if (action == "Activate") {
                var dt = document.getElementById("grid");
                // hide data table
                dt.style.display = 'none';
                dt.style.visibility = 'hidden';
                
                var editForm = document.getElementById("dlg_activate");
                document.getElementById('dialog').innerHTML = editForm.innerHTML;
                document.getElementById('quiz_title').innerHTML = model.name;
                document.forms['activate'].model = model;
            }
          }
          
          function closeDialog() {
              document.getElementById('dialog').innerHTML = '';
              var dt = document.getElementById("grid");
              // hide data table
              dt.style.display = 'block';
              dt.style.visibility = 'visible';
          }
          
          function activateQuiz(theForm) {
            theForm.onsubmit = function() { return false; }; // prevent form submission
            var value = theForm['duration'].selectedOptions[0].value;

            var request = $.ajax({
               url : "/api/v1/quiz/" + theForm.model.id,
               type : "POST",
               data: { 'duration': value },
               dataType : "json"
            });

            request.done(function(msg) {
            	closeDialog();               
            });

            request.fail(function(jqXHR, textStatus) {
               alert("Request failed: " + textStatus);
            });
          }
      </script>
      

   {{/content}}

{{/../base}}
