{{< ../base}}

   {{$header}}
      <link rel="import" href="{{rootPath}}/elements/data-table/data-table.html"/>
   {{/header}}

   {{$title}}ASE Quiz Admin{{/title}}

   {{$navbar}}{{> navbar_admin}}{{/navbar}}

   {{$content}}
      <h1>Answers</h1>
      
      <b>Question:</b> {{question.question}}
      <br/><br/>
      
      <data-table model="answer" params="questionId={{question.id}}" cols="answer">      
         <template> <!-- Edit form template is the first child element -->
            <b>Answer</b>
            <form>
              <div class="form-group">
                <label for="question">Answer</label>
                <input type="text" class="form-control" id="answer" placeholder="Answer text" value="[[m.answer]]">
              </div>

              <div class="form-group">
                <label for="points"></label>
                <input type="checkbox" class="form-control" id="correct" checked="[[m.checkbox]]" value="true"> Correct answer?
              </div>

              <button on-click="[[cancel]]" class="btn">Cancel</button>
              <button on-click="[[submit]]" class="btn btn-default">Submit</button>
            </form>
         </template>
      </data-table>

   {{/content}}

{{/../base}}
