{{< ../base}}

   {{$header}}
      <link rel="import" href="{{rootPath}}/elements/data-table/data-table.html"/>
   {{/header}}

   {{$title}}ASE Quiz Admin{{/title}}

   {{$navbar}}{{> navbar_admin}}{{/navbar}}

   {{$content}}
      <h1>{{quiz.name}} questions</h1>
      
      <data-table model="question" params="quizId={{quiz.id}}" cols="id question points"
         actions="Answers">      
         <template> <!-- Edit form template is the first child element -->
            <b>Answer</b>
            <form>
              <div class="form-group">
                <label for="question">Answer</label>
                <input type="text" class="form-control" id="answer" placeholder="Answer text" value="[[m.answer]]">
              </div>

              <div class="form-group">
                <label for="points"></label>
                <input type="checkbox" class="form-control" id="correct" value="[[m.checkbox]]"> Correct answer?
              </div>

              <button on-click="[[cancel]]" class="btn">Cancel</button>
              <button on-click="[[submit]]" class="btn btn-default">Submit</button>
            </form>
         </template>
      </data-table>

   {{/content}}

{{/../base}}
