{{< base}}

   {{$header}}
      <link rel="import" href="{{rootPath}}/elements/data-table/data-table.html"/>
   {{/header}}

   {{$content}}
      <h1>{{quiz.name}}</h1>
      
      <b>Question</b>
      <p>
         {{question.question}}
      </p>
   
      Select answer:
	    <div class="row">
	        <div class="col-md-12">
	            <div class="well"><form class="form-horizontal" role="form" action="login" method="POST">
			         {{#answers}}
                   <div class="form-group">
			            <input type="radio" id="answer" name="answer" value="{{id}}"/> {{answer}}
                   </div>
			         {{/answers}}
	                <div class="form-group">
	                    <div class="col-md-offset-6 col-md-3">
	                        <button type="button" onClick="saveAnswer(this.form)" class="btn btn-success">Save</button>
	                    </div>
	                </div>
	            </form></div>
	        </div>
	    </div>

      <script type="text/javascript">
      function saveAnswer(theForm) {
    	  var answerId = theForm.answer.value;
    	  var type = "PUT";
        var uri = "/api/v1/student_answer/{{question.id}}";
        // post data back to server
        var request = $.ajax({
           url : uri,
           type : type,
           data: { 'answer_id': answerId },
           dataType : "json"
        });

        request.done(function(msg) {
           scope.loadData();
        });

        request.fail(function(jqXHR, textStatus) {
           alert("Request failed: " + textStatus);
        });
      }
      </script>   
   {{/content}}

{{/base}}